{{!-- This is where the handlebars html/javascript will go --}}

<h1 class="page-header">Eat Da Burger!</h1>


<div class="row">
	<div class="col-md-4 col-left">
		<h1>Burgers Available</h1>
		<h2>
			<ul>
				{{#each burgers}}
				<li>
					<a class="burger">{{this.id}}. {{this.burger_name}}</a>
				</li>
				{{/each}}
			</ul>

		</h2>
	</div>
	<div class="col-md-4 col-center">
		<img src="public/assets/img/burger.png" alt="burger!">
	</div>

	<div class="col-md-4 col-right">
		<h1>Devoured Burgers</h1>
		<h2>
			<ul>
				{{#each devoured_burgers}}
				<li>
					{{this.id}}. {{this.burger_name}}
				</li>
				{{/each}}
			</ul>

		</h2>
	</div>
</div>

<script>

</script>